pre.prettyprint {
  padding: 1rem 1.5rem !important;
  border-radius: 0 !important;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: .825em;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
}

code {
  padding: 0 3px 2px;
  /* margin-bottom: 4em; */
  font-size: .825em;
  color: #000;
  white-space: pre;
  overflow: auto;
  background-color: #EDF1F3;
}
