.blue-shadow {
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
}

.blog-posts .entry-content {
  margin-left: 0;
}

.blog-posts .post-preview-header {
  text-align: center;
}

.blog-posts .post-preview-header h3 a {
  text-align: center;
  font-size: 30px;
  /* rgba(250,244,106, .5) */
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
}

.blog-posts .post-preview-header h3 a:hover {
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
  /* box-shadow: inset 0 -3px 0 rgba(250,244,106, .95); */
  color: #000;
}

.blog-posts .post-preview .more-link {
  margin: 0 auto;
}

/* // .entry-meta a:hover { */
/* //   background-color: rgba(250,244,106, .75); */
/* //   color: #345; */
/* //   background-color: #EDF1F3; */
/* // } */
.blog-posts .hentry {
  padding: 0.25em 0 3rem 0;
  margin-bottom: 3rem;
}

a.button.colored.blue {
  background-color:rgba(118,215,254,.35);
  color: #345;
}
a.button.colored.blue:hover {
  color: #fff;
}

/* // .entry-content a { */
/* //   text-decoration: underline; */
/* // } */

.card {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border: 3px solid #5BCF80; */
    border: 3px solid #345;
    /* border-radius: .25rem; */
    border-radius: 6px;
    padding: 0;
    margin: 40px 0 60px;
    /* max-width: 350px; */
}

@media screen and (max-width: 1002px) {
  .card {
    /* max-width: 400px; */
    margin: 0 auto 60px;

  }
}

.card blockquote {
  position: relative;
  margin: 1.6em 0;
  padding: 0 2em;
  text-align: right;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: "Roboto", Monaco, sans-serif;
  line-height: 1.5em;
  padding: 1rem 2em 0;
}

.card blockquote::before {
  display: none;
}

.card blockquote i {
  padding-right: 10px;
}

.card blockquote cite {
  display: block;
  font-size: 13px;
  padding-right: 1em;
  margin-top: 1em;
  font-style: normal;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 0.03em;
}

.right-col .event::before,
.right-col .event::after,
.right-col .event p::before  {
  display: none;
}

@media screen and (max-width: 767px) {
  .right-col .event {
    margin-top: 15px;
  }
}



i.rule-icon {
  font-size: 16px;
  margin-right: 12px;
  margin-left: 0;
  line-height: 39px;
  text-align: center;
  color: #B7C6C9;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #F4F6F7;
  display: inline-block;
  width: 47px;
}

i.rule-icon::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline;
}

.blog-single .entry-meta {
  padding-bottom: 0;
}




@media screen and (max-width: 767px) {
  .skill-unit {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .skill-unit h4 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.event span,
.event small {
  display: block;
  text-align: left;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;

  &.range {
    font-weight: 400;
    text-transform: none;
  }
}


ul.list,
ul li {
  list-style: disc;
}

ul.list li.asset {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .event h4, .event h5 {
    text-align: left !important;
  }
}


.event header {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  header .entry-meta .posted-in {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  header .entry-meta .posted-on {
    display: block;
  }
}

/* .entry-meta .posted-on time.entry-date {
  display: inline-block;
} */


ol, ul {
  display: block;
  padding-left: 15px;
}

ol li,
ul li {
  margin-left: 15px;
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
  margin-left: 10px;
}
/* 
.event ol li,
.event ul li {
  margin-left: 10px;
} */

/* pre.prettyprint,
pre.prettyprinted {
  border: 2px solid #F4F6F7 !important;
  border-radius: 5px !important;
  -webkit-font-smoothing: antialiased;
    font-size: .825em;
  line-height: 1.75em;
  margin: 2rem auto;
} */

.blog-posts .hentry {
  margin-bottom: .5rem;
}
