.blue-shadow {
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
}

.blog-posts .entry-meta {
  display: block;
  max-width: none;
  width: 100%;
  text-align: center;
}

.blog-posts .entry-meta > span {
  display: inline-block;
  max-width: none;
}

.blog-posts .entry-content {
  margin-left: 0;
}

.blog-posts .post-preview-header {
  text-align: center;
}

.blog-posts .post-preview-header h3 a {
  text-align: center;
  font-size: 30px;
  /* rgba(250,244,106, .5) */
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
}

.blog-posts .post-preview-header h3 a:hover {
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
  /* box-shadow: inset 0 -3px 0 rgba(250,244,106, .95); */
  color: #000;
}

.blog-posts .post-preview .more-link {
  margin: 0 auto;
}

.entry-meta a:hover {
  /* background-color: rgba(250,244,106, .75); */
  color: #345;
  background-color: #EDF1F3;
}
.blog-posts .hentry {
  padding: 0.25em 0 3rem 0;
  margin-bottom: 3rem;
}
.blog-posts .hentry:not(:last-of-type) {
  /* border-bottom: 3px solid #EDF1F3; */
}


a.button.colored.blue {
  background-color:rgba(118,215,254,.35);
  color: #345;
}
a.button.colored.blue:hover {
  color: #fff;
}

.entry-content a {
  text-decoration: underline;
}
/* .entry-content a {
  color: #345;
  box-shadow: inset 0 -3px 0 rgba(118,215,254,.35);
  transition: box-shadow .2s ease;
}

.entry-content a:hover {
  color: #345;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.75);
} */

.testo {
  /* background: rgba(118,215,254,.35); */
}

.resume .row h2 {
  /* font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px; */
}

.card {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border: 3px solid #5BCF80; */
    border: 3px solid #345;
    /* border-radius: .25rem; */
    border-radius: 6px;
    padding: 0;
    margin: 40px 0 60px;
    /* max-width: 350px; */
}

@media screen and (max-width: 1002px) {
  .card {
    /* max-width: 400px; */
    margin: 0 auto 60px;

  }
}

.card blockquote {
  position: relative;
  margin: 1.6em 0;
  padding: 0 2em;
  text-align: right;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: "Roboto", Monaco, sans-serif;
  line-height: 1.5em;
  padding: 1rem 2em 0;
}

.card blockquote::before {
  display: none;
}

.card blockquote i {
  padding-right: 10px;
}

.card blockquote cite {
  display: block;
  font-size: 13px;
  padding-right: 1em;
  margin-top: 1em;
  font-style: normal;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 0.03em;
}

.list,
.event ul {
  list-style: disc;
  padding-left: 1rem;
  margin: 15px 0;
}

.event ul li:not(:first-of-type) {
  margin-top: 10px;
}

.event ul li {
  line-height: 1.5em;
}

.timeline .event::after,
.right-col .event::before,
.right-col .event::after,
.right-col .event p::before  {
  display: none;
}

.timeline .event {
  position: relative;
}

.timeline .event::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -74px;
  width: 4px;
  background: #F9F9F9;
  height: 115%;
  border: 0;
}

@media screen and (max-width: 767px) {
  .right-col .event,
  .timeline .event.current,
  .timeline .event {
    margin-top: 15px;
  }
}

.timeline .event.current::before {
  top: 34px;
}
.timeline .event.current .date {
  background: #345;
  color: #fff;
}
.timeline .event .date {
  top: 34px;
  background-color: #d0f1ff;
  color: #345;
}

@media screen and (max-width: 76rem) {
.timeline .event .date {
  /* top: -64px; */
  display: none;
  }
}

.event {
  /* max-width: 500px !important; */
}

.skill-unit h4 {
  margin-bottom: -28px;
  font-size: 12px;
  color: #345;
}

.skill-unit .bar .progress {
  /* background-color: hsl(139, 70%, 65%); */
  /* background-color: rgba(118,215,254,.35); */
  background-color: #76d7fe59;

}

.bar .progress {
  position: relative;
}
.bar .progress .score {
  position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background-color: #345;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-weight: 600;
    font-size: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.row h2 {
  text-transform: lowercase;
  /* font-family: "Lato"; */
  /* font-weight: 400; */
  font-size: 16px;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  font-weight: 800;
  font-family: "Roboto";
  opacity: .8;
  /* color: #C9D5D6;   */
}

.left-col h2 {
  padding-left: 50px;
}
.left-col  h2 i {
  margin-left: -33px;
  margin-right: 12px;
}
.left-col h2:first-of-type i {
  width: 86px;
  height: 86px;
  font-size: 43px;
  line-height: 72px;
}

.left-col h2:not(:first-of-type) i {
  width: 86px;
  height: 86px;
  font-size: 43px;
  line-height: 72px;
  background-color: white;
}

.left-col h2 i::before {
  font-size: 54px;
  line-height: 72px;
  vertical-align: middle;
  color: #EDF1F3;
  z-index: 9999999999;

}
@media screen and (max-width: 767px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .left-col h2:first-of-type i {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .left-col h2:first-of-type {
    padding-left: 0;
  }
}

.right-col > h2:first-of-type {
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .right-col h2:first-of-type {
    margin-top: 30px;
  }
}

.right-col {
  padding-left: 34px;
}


.right-col .list {
  /* margin-bottom: 60px; */
  display: inline-block;
}

.event h4 {
  font-weight: 500;
}

.event h5 {
  letter-spacing: .25px;
}

.event h5.award {
  margin: 0 0 0.75rem 0;
  color: rgba(28, 38, 43, 0.7);
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  color: #345;
  display: block;
}
.event h5.award span {
  color: #345;
  display: block;
  width: 100%;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  text-indent: 16px;
}


.blog-posts .hentry {
  margin-bottom: .5rem;
}

.post-preview .entry-content {
  padding-bottom: 0;
}

i.rule-icon {
  font-size: 16px;
  margin-right: 12px;
  margin-left: 0;
  line-height: 39px;
  text-align: center;
  color: #B7C6C9;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #F4F6F7;
  display: inline-block;
  width: 47px;
}

i.rule-icon::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline;
}

.blog-single .entry-meta {
  padding-bottom: 0;
}

html {
  font-size: 10px;
}


@media screen and (max-width: 767px) {
  .skill-unit .bar {
    height: 36px;
  }
}
@media screen and (max-width: 767px) {
  .skill-unit {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .skill-unit h4 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.event span,
.event small {
  display: block;
  text-align: left;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .right-col {
    padding-left: 15px;
  }
}

ul.list,
ul li {
  list-style: disc;
}

ul.list li.asset {
  padding-bottom: 10px;
}

article:not(.event) ul.list {
  /* margin-bottom: 60px !important; */
}

@media screen and (max-width: 767px) {
.event h4, .event h5 {
  text-align: left !important;
}
}

.left-col .timeline h2:last-of-type {
  padding-left: 0;
}

.event header {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  header .entry-meta .posted-in {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  header .entry-meta .posted-on {
    display: block;
  }
}

.entry-meta .posted-on time.entry-date {
  display: inline-block;
}

.post blockquote {
  position: relative;
  margin: 1.6em 0;
  padding: 0 2em;
  text-align: right;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: "Roboto", Monaco, sans-serif;
  line-height: 1.5em;
  padding: 1rem 2em 0;
}
.post blockquote::before {
  display: none;
}
.post blockquote p {
  display: inline-block;
  padding-left: 30px;
}
.post blockquote i {
  display: block;
  position: absolute;
  top: -0.6em;
  font-size: 2.5rem;
  display: block;
  content: "\F10D";
  line-height: 1;
  position: absolute;
  left: 0;
  color: #DDE4E6;
}

.entry-content a,
.entry-content a:active,
.entry-content a:focus {
  color: hsla(197,100%,50%,1);
}

.entry-content a:hover,
.entry-content a:active,
.entry-content a:focus {
  text-decoration: none !important;
  border-bottom: 0;
}

ol, ul {
  display: block;
}

ol li,
ul li {
  margin-left: 20px;
}

.entry-content .main-content img {
  padding: 1rem;
  border: 2px solid #F4F6F7;
  border-radius: 5px;
  display: block;
  margin: 2rem auto;
}
