html {
  font-size: 10px;
}
body {
  color: #345;
 }
 /* Text Selection */
::selection {
  text-shadow: none; color: #333; background: #FFFFCF;
 }
::-moz-selection {
  text-shadow: none; color: #333; background: #FFFFCF;
 }
 /* FIX FOR CHROME FULSCREEN VIDEO ISSUE */
:-webkit-full-screen-ancestor:not(iframe) *:not(video) {
  animation: none; -webkit-animation: none;
  }
  .page-title {
    text-transform: uppercase;
  }
/* BUTTONS */
input[type=submit],
input[type=button],
button,
a.button {
 	display: inline-block; position: relative; padding: 1.3em 2.6em; font-size: 11px; letter-spacing: 1px; font-weight: 800; text-transform: uppercase; line-height: 1.2; border: 0; outline: 0; background: #fff; border: 2px solid #6A7686; color: #6A7686; text-shadow: none; border-radius: 4px;
	}
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover,
input[type=submit].colored,
input[type=button],
button.colored,
a.button.colored {
 	color: #fff; background-color: #096; border-color: transparent;
	}
input[type=submit].colored:hover,
input[type=button]:hover,
button.colored:hover,
a.button.colored:hover {
	background: #085;
	}
input[type=submit].colored:active,
input[type=button]:active,
button.colored:active,
a.button.colored:active {
	background: #074;
	}
input[type=submit]:active,
input[type=button]:active,
button:active,
a.button:active {
 	color: #eee;
	}
/* Large Buttons */
input[type=submit].big,
input[type=button].big,
button.big,
a.button.big {
	padding: 1.8em 3.6em;
	}
/* Small Buttons */
input[type=submit].small,
input[type=button].small,
button.small,
a.button.small {
	font-size: 10px; padding: .8em 1.6em;
	}
/* blue buttons  */
input[type=submit].blue:hover,
input[type=button].blue:hover,
button.blue:hover,
a.button.blue:hover,
input[type=submit].blue.colored,
input[type=button].blue.colored,
button.blue.colored,
a.button.blue.colored {
 	background: #7DB7CE
	}
input[type=submit].blue.colored:hover,
input[type=button].blue.colored:hover,
button.blue.colored:hover,
a.button.blue.colored:hover {
 	background: #70ADC5
	}
input[type=submit].blue:active,
input[type=button].blue:active,
button.blue:active,
a.button.blue:active,
input[type=submit].blue.colored:active,
input[type=button].blue.colored:active,
button.blue.colored:active,
a.button.blue.colored:active {
 	background: #5E9BB3
	}
/* red buttons  */
input[type=submit].red:hover,
input[type=button].red:hover,
button.red:hover,
a.button.red:hover,
input[type=submit].red.colored,
input[type=button].red.colored,
button.red.colored,
a.button.red.colored {
 	background: #BE3C3A
	}
input[type=submit].red.colored:hover,
input[type=button].red.colored:hover,
button.red.colored:hover,
a.button.red.colored:hover {
 	background: #AD2B29
	}
input[type=submit].red:active,
input[type=button].red:active,
button.red:active,
a.button.red:active,
input[type=submit].red.colored:active,
input[type=button].red.colored:active,
button.red.colored:active,
a.button.red.colored:active {
 	background: #9B2A28
	}
/* green buttons  */
input[type=submit].green:hover,
input[type=button].green:hover,
button.green:hover,
a.button.green:hover,
input[type=submit].green.colored,
input[type=button].green.colored,
button.green.colored,
a.button.green.colored {
 	background: #63C76F
	}
input[type=submit].green.colored:hover,
input[type=button].green.colored:hover,
button.green.colored:hover,
a.button.green.colored:hover {
 	background: #4FAA5A
	}
input[type=submit].green:active,
input[type=button].green:active,
button.green:active,
a.button.green:active,
input[type=submit].green.colored:active,
input[type=button].green.colored:active,
button.green.colored:active,
a.button.green.colored:active {
 	background: #3F964A
	}
/* yellow buttons  */
input[type=submit].yellow:hover,
input[type=button].yellow:hover,
button.yellow:hover,
a.button.yellow:hover,
input[type=submit].yellow.colored,
input[type=button].yellow.colored,
button.yellow.colored,
a.button.yellow.colored {
 	background: #F5CA2B
	}
input[type=submit].yellow.colored:hover,
input[type=button].yellow.colored:hover,
button.yellow.colored:hover,
a.button.yellow.colored:hover {
 	background: #EBC22B
	}
input[type=submit].yellow:active,
input[type=button].yellow:active,
button.yellow:active,
a.button.yellow:active,
input[type=submit].yellow.colored:active,
input[type=button].yellow.colored:active,
button.yellow.colored:active,
a.button.yellow.colored:active {
 	background: #DFBB38
	}
/* Buttons with icons */
input[type=submit].button-icon,
input[type=button].button-icon,
button.button-icon,
a.button.button-icon {
	 padding-left: 2.8em
	}
input[type=submit].button-icon.big,
input[type=button].button-icon.big,
button.button-icon.big,
a.button.button-icon.big {
 	padding-left: 5em
	}
input[type=submit] i,
input[type=button] i,
button i,
a.button i {
 	position: absolute; top: .45em; left: 1.2em; line-height: 1; font-size: 1.4em; margin-right: .4em; margin-left: -0.35em; margin-bottom: -1em; color: #B7C6C9;
	}
input[type=submit].big i,
input[type=button].big i,
button.big i,
a.button.big i {
 	top: .7em; left: 1.1em; font-size: 23px;
	}
input[type=submit]:hover i,
input[type=button]:hover i,
button:hover i,
a.button:hover i,
input[type=submit].colored i,
input[type=button].colored i,
button.colored i,
a.colored i {
 	color: #fff; color: rgba(255, 255, 255, 0.9);
	}
/* Colored Buttons */
input[type=submit].colored,
input[type=button].colored,
button.colored,
a.button.colored {
 	color: #fff; border-color: transparent;
  }

blockquote {
  padding-left: 1em; padding-right: 1em; font-size: 1.3em;
  }
blockquote:before {
  top: -0.6em; font-size: 1em;
  }


.page-header .breadcrumbs a,
.page-header .breadcrumbs span {
	font-size: 12px;
	color: #345;
}

.page-header .breadcrumbs span { color: #BFC5CD; font-weight: 400;}
.page-header .breadcrumbs a {
	text-decoration: none;
	border-bottom: 1px dotted #345;
	font-weight: 400;
}

.page-header .page-title {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

/* DROP CAP */
.drop-cap:first-letter {
  font-size: 50px; font-weight: 800; line-height: .8; float: left; padding: 4px 16px 0px 0;
 }
@media screen and (max-width: 767px) {
  header .entry-meta .posted-in {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  header .entry-meta .posted-on {
    display: block;
  }
}

.blog-posts .entry-meta .posted-on time.entry-date {
  display: inline-block;
}

ol, ul {
  display: block;
}

ol li,
ul li {
  margin-left: 20px;
}

i.rule-icon {
  font-size: 16px;
  margin-right: 12px;
  margin-left: 0;
  line-height: 39px;
  text-align: center;
  color: #B7C6C9;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #F4F6F7;
  display: inline-block;
  width: 47px;
}

i.rule-icon::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline;
}


.page-header .breadcrumbs a,
.page-header .breadcrumbs span {
	font-size: 12px;
	color: #345;
}

.page-header .breadcrumbs span { color: #BFC5CD; font-weight: 400;}
.page-header .breadcrumbs a {
	text-decoration: none;
	border-bottom: 1px dotted #345;
	font-weight: 400;
}

.page-header .page-title {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
}
